[submodule "protos/listenUp_protos"]
	path = protos/listenUp_protos
	url = git@github.com:kupalovmuhammadjon/listenUp_protos.git
[submodule "listenUp_protos"]
	path = listenUp_protos
	url = git@github.com:kupalovmuhammadjon/listenUp_protos.git
